<% content_for :title, 'Add new Command' %>

<%= form_tag :action => 'create' do %>
    <p><label for = "command_line">Command Line</label>:

      <%= text_field 'commands', 'line' %></p>
    <p><label for = "command_user">User</label>:

      <%= text_field 'commands', 'user' %></p>
    <%= submit_tag "Create" %>

<% end -%>
<%= link_to 'Back', {:action => 'list'} %>